{% extends 'base.html' %}

{% block content %}
  <form action="/signUp" method="post">
    <p>Name:</p>
    <p><input type="text"  name ="nm"/></p>
    <p>Password:</p>
    <p><input type="text"  name ="no"/></p>
    <p>Player 1:</p>
    <p><input type="text"  name ="topic_1"/></p>
    <p>Player 2:</p>
    <p><input type="text"  name ="topic_2"/></p>
    <p>Player 3:</p>
    <p><input type="text"  name ="topic_3"/></p>
    <p><input type="submit"  value ="Sign Up!"/></p>
  </form> 
{% endblock %}